:root {
    --sl-hue-blue: 200;
}

.starlight-aside--tip {
    --sl-color-asides-text-accent: var(--sl-color-green-high);
    border-color: var(--sl-color-green);
    background-color: var(--sl-color-green-low);
}